
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage</title>

  
  <link href="/assets/bootstrap.min.css" rel="stylesheet">

  <link href="/assets/shop-homepage.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="title"><font color="green">L<font color="white">2</font>MS</font></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="pages">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="abc">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="page2">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="page3">Contact</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="login">login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
        <marquee bgcolor="powderblue"><font color="red"><b>WELLCOME TO L2SM </b><i>&nbsp invest little get more</font></marquee>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">


        <h1 class="my-6">shop by categorys</h1>
        <div class="list-group">
          <a href="/gradea" class="list-group-item">fruits</a>
          <a href="/gradeb" class="list-group-item">vegetables</a>
          <a href="/gradec" class="list-group-item">flowers</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/assets/strawberries.jpg"hight="200"width="400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"><i>strawberries</i></a>
                </h4>
                <h5>179</h5>
                <p class="card-text">original price 1k/200 offer price 1k/179</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/assets/orange.jpg"hight="=800"width="300"alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"><i>orange</i></a>
                </h4>
                <h5>20</h5>
                <p class="card-text">summer special 1pc 20 l2msprice 17 </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/assets/tangerines.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"><i>tangerines</i></a>
                </h4>
                <h5>400</h5>
                <p class="card-text">USA price $4 india pc 400</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          
         
    <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/assets/apple.jpg"hight="200"width="400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"><i>apple</i></a>
                </h4>
                <h5>179</h5>
                <p class="card-text">original price 1k/200 offer price 1k/179</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/assets/orange.jpg"hight="=800"width="300"alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"><i>orange</i></a>
                </h4>
                <h5>20</h5>
                <p class="card-text">summer special 1pc 20 l2msprice 17 </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/assets/citrus.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"><i>citrus</i></a>
                </h4>
                <h5>400</h5>
                <p class="card-text">USA price $4 india pc 400</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/assets/apple.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">apple</a>
                </h4>
                <h5>100</h5>
                <p class="card-text">12pecies 100 rupes only</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/assets/dragon.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">dragon</a>
                </h4>
                <h5>129</h5>
                <p class="card-text">only one pecies 129</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/assets/tangerines.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">tangerines</a>
                </h4>
                <h5>24.99</h5>
                <p class="card-text">no offers this fruit!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
