
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage</title>

  
  <link href="/assets/bootstrap.min.css" rel="styleshe
  <link href="/assets/shop-homepage.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="title"><font color="green">L<font color="white">2</font>MS</font></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="pages">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="abc">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="page2">services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="page3">Contact</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="login">login/sinup</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
        <marquee bgcolor="powderblue"><font color="red"><b>WELLCOME TO L2SM </b><i>&nbsp invest little get more</font></marquee>
<h4><font color="red">FRUITS :</font></h4>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Avacado Banana Eggplant FigGrapefruit Apricot Raspberry Romaine LettuceCranberry Watercress Cantaloupe PeachKiwi Fruit Lime Mango Chili Pepper PersimmonButternut SquashDragonfruit KohlrabiNectarine Olive Iceberg LettuceStarfruit Tomato</P>
<h2><font color="green">vegetables :</font></h2>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prickly Pear GarlicBlackberry ShallotHoneydew MelonAsparagus Watermelon ZucchiniBroccoli CarrotAcorn Squash Jujube DaikonClemintine RutabagaSpinach Onion Brussels sproutsCabbage Corn Mandarin Orange Potato Turnip Granny Smith AppleWater Chestnut </p>
<h3><font color="blue">FLOWERS :</font></h3>
<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Roses lilies whaterlilies sunflowers lotus jasmin Redroses whiteroses yellowroses
redlotus</P>
