<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage</title>

  
  <link href="/assets/bootstrap.min.css" rel="stylesheet">


  <link href="/assets/shop-homepage.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="title"><font color="green">L<font color="white">2</font>MS</font></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">

            <a class="nav-link" href="pages">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="abc">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page2">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="page3">Contact</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="login">login/signup</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
        <marquee bgcolor="powderblue"><font color="red"><b>WELLCOME TO L2SM </b><i>&nbsp; invest little get more</font></marquee>
<h2><font color="orange">Contact as</font></h2>          
<p><b>The woner :</b></br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AP  – 2019 Office</br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ground Floor, Administrative Building</br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kakinada – 500055</br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;East Godavari District</br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Andhra Pradesh</p>

<p><b>Contact Details:</b></br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0884-2340535 (O)</br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0884-2356255 (O)</br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-Mail : l2sm.shop@gmail.com</br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Website : https://l2sm.gov.in</p>